@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@400;500;700&family=Open+Sans:wght@300;400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* background: linear-gradient(to right, #fce38a, #f38181); */
  background-color: rgb(30, 33, 39);
  height: 100%;
  width: 100%;
}